{% extends 'Front/base.html.twig' %}

{% block content %}
    <div class="w-full min-h-screen bg-grey-lightest">
        <div class="w-2/3 h-screen m-auto">
            Mes jeux
            <a href="">Ajouter des jeux</a>
        </div>
    </div>
{% endblock %}