{% extends 'base.html.twig' %}

{% block title %}PlayMore{% endblock %}

{% block body %}
    <div style="position:absolute;right:5px;top:5px">Bonjour {{ app.user.email }}, <a href="{{ path('app_security_logout') }}">Se déconnecter</a></div>
    <h1>Playmore</h1>


{% endblock %}
