{% extends 'Back/base.html.twig' %}

{% block body %}
    <div class="w-2/3 h-auto mx-auto px-8 py-16">
        <h1 class="text-playmore-purple-500 mb-6">Editer {{ category.name }} #{{ category.id }}</h1>
        {{ include('Back/category/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
