<header>
    <img src="{{ asset('images/logo.png') }}" alt="">
    <nav>
        <ul>
            <li><a href="{{ path('advert_list') }}">Annonces</a></li>
            <li><a href="{{ path('game_index') }}">Back office</a></li>
        </ul>
    </nav>
</header>