{% if name == 'PS4' %}
<div class="ps4 platform-icon">
    <i class="fab fa-playstation"></i>
</div>
{% elseif name == 'XBOX' %}
    <div class="xbox platform-icon">
        <i class="fab fa-xbox"></i>
    </div>
{% elseif name == 'SWITCH' %}
    <div class="switch platform-icon">
        <i class="fab fa-nintendo-switch"></i>
    </div>
{% elseif name == 'PC' %}
    <div class="pc platform-icon">
        <i class="fas fa-desktop"></i>
    </div>
{% endif %}