<form method="post" action="{{ path('game_delete', {'slug': game.slug}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce jeu?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ game.slug) }}">
    <input type="submit" class="text-red-light font-bold bg-transparent cursor-pointer" value="Supprimer">
</form>
