{% extends 'base.html.twig' %}

{% block title %}PlayMore{% endblock %}

{% block content %}
    <div class="connection-info" style="position:absolute;right:5px;top:5px">Bonjour {{ app.user.email }}, <a href="{{ path('app_security_logout') }}">Se déconnecter</a></div>

    <li><a href="{{ path('game_index') }}">Back office</a></li>

{% endblock %}
