{% extends 'base.html.twig' %}

{% block title %}PlayMore{% endblock %}

{% block content %}

    <div class="home-content">

        <div class="search-container">
            <input type="text" id="search-bar" placeholder="Quel jeu souhaitez vous échanger?">
        </div>
       <div class="filters">
           <div class="filter-container">
               <select id="filter-select">
                   <option>Plateforme</option>
                   <option>PS4</option>
                   <option>XBOX</option>
               </select>
           </div>
           <div class="filter-container">
               <select id="filter-select">
                   <option>Catégorie</option>
                   <option>Action</option>
                   <option>Aventure</option>
               </select>
           </div>
           <div class="filter-container">
               <select id="filter-select">
                   <option>Localisation</option>
                   <option>Ile-de-France</option>
                   <option>Haut-de-France</option>
                   <option>Haut-Bas-France</option>
               </select>
           </div>
       </div>

    </div>

{% endblock %}
