<div class="flex items-center">
    <img class="rounded-full border-playmore-purple-500" src="{{ asset('/images/user/' ~ advert.user_img_name) }}" alt="" style="width: 45px; height: 45px;">
    <div class="flex flex-col ml-3">
        <p class="text-lg font-bold text-playmore-text mb-1">{{ advert.username }}</p>
        <p class="text-sm text-playmore-purple-400">{{ advert.city }} ({{ advert.postal_code }})</p>
    </div>
</div>