body {
    background-color: lightgray;
  margin:0;
  padding: 0;
  font-family: 'Nunito', sans-serif;;

  div.left-part {

    width:50%;
    height: 100vh;
    float:left;
    background-color: #e5f1ff;

    div.logo {

      width: 100%;
      margin-top:330px;
      text-align: center;
    }
  }
  div.right-part {

    width: 50%;
    float:right;
    height: 100vh;
    background-color: #eff2f6;
    display: flex;
    align-items: center;
    justify-content: center;


    .login {
      margin: 20px auto;
      width: 300px;
      padding: 30px 25px;
      background: white;
      border-radius:5px;

    }

    h1.login-title {
      margin: -28px -25px 25px;
      padding: 15px 25px;
      line-height: 30px;
      font-size: 25px;
      font-weight: 300;
      color: #black;
      text-align:center;
      background: #fff;
      font-weight: 700;
      border-left:3px solid #1f7777;
      padding: 0;
      width: 46%;
      margin-left: 10px;
      margin-top: 1px;
      margin-bottom: 20px;

    }

    .login-input {
      width: 285px;
      height: 50px;
      margin-bottom: 25px;
      padding-left:10px;
      font-size: 15px;
      background: #eff2f6;
      border:none;
      border-radius: 4px;
      margin-top:10px;
    }
    .login-input:focus {
      border-color:#6e8095;
      outline: none;

    }

    label {

      color:#1f7777;
      font-weight: 700;
    }
    .login-button {
      width: 55%;
      height: 43px;
      padding: 0;
      font-size: 20px;
      color: #fff;
      text-align: center;
      background: #1f7777;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      outline: 0;
      margin-left: 20%;
      border-radius: 30px;
    }

    .login-lost
    {
      text-align:center;
      margin-bottom:0px;
    }

    .login-lost a
    {
      color:#1f7777;
      text-decoration: none;
      font-weight: 700;
    }

    .login-lost{
      float:left;
      margin-bottom: 15px;
    }



  }

}

