{% extends 'Back/base.html.twig' %}

{% block body %}
    <div class="w-2/3 h-auto mx-auto px-8 py-16">
        <h1 class="text-primary mb-6">Editer {{ developper.name }} #{{ developper.id }}</h1>
        {{ include('Back/developper/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
{% endblock %}
