<!DOCTYPE html>
<html lang="fr">
    {% include 'Partials/_head.html.twig' %}
    <body>
    <header>
        <img src="{{ asset('images/playmoreheader.png') }}" class="logo-size">

    </header>
        {% block content %}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
