<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{% block title %}PlayMore{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/playmore.ico') }}" />
    {% endblock %}
</head>
<body>
{{ include('Partials/_header.html.twig') }}

{% block content %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script>
      // The subscriber subscribes to updates for the https://example.com/users/dunglas topic
      // and to any topic matching https://example.com/books/{id}
      const url = new URL('http://localhost:3000/hub');
      url.searchParams.append('topic', 'http://monsite.com/ping');

      const eventSource = new EventSource(url, { withCredentials: true });

      // The callback will be called every time an update is published
      eventSource.onmessage = e => {
        const data = JSON.parse(e.data);
        let message = 'ping';
        if(data.username){
          message = `${data.username} a fait une offre`;
        }
        const notifNb = document.querySelector('.notif-number');
        if(notifNb.innerText === ""){
          nb = 0;
        } else {
          nb = parseInt(notifNb.innerText);
        }

        notifNb.innerText = 1;
        notifNb.style.display = 'flex';
        const notifs = document.querySelector('.notifs');
        const p = document.createElement('p');
        p.classList.add('text-sm');
        p.classList.add('my-2');
        p.innerText = message;
        notifs.appendChild(p);

      }
    </script>
{% endblock %}
</body>
</html>
