<!DOCTYPE html>
<html lang="fr">
    {% include 'Partials/_head.html.twig' %}
    <body>
    <header>
        <img src="{{ asset('images/playmoreheader.png') }}" class="logo-size">

        <a class="return-button" href="{{ path('app_security_home') }}">Retour</a>
    </header>
        <div class="w-full flex">
            <aside class="w-260px bg-white border-t border-grey-light">
                <ul class="mt-16">
                    <li class="sidebar-item sidebar-item-active"><a href="/game">Jeux</a></li>
                    <li class="sidebar-item"><a href="">Accessoires</a></li>
                    <li class="sidebar-item"><a href="">Utilisateurs</a></li>
                    <li class="sidebar-item"><a href="">Plateformes</a></li>
                    <li class="sidebar-item"><a href="">Editeur</a></li>
                    <li class="sidebar-item"><a href="{{ path('developper_index') }}">Développeurs</a></li>
                    <li class="sidebar-item"><a href="">Categories</a></li>
                    <li class="sidebar-item"><a href="">Classification</a></li>
                    <li class="sidebar-item"><a href="">Annonces</a></li>
                </ul>
            </aside>
            <div class="w-full h-screen bg-grey-lighter">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
