<!DOCTYPE html>
<html lang="fr">
    {% include 'Partials/_head.html.twig' %}
    <body>
        {% include 'Partials/_header.html.twig' %}
        <div class="w-full flex">
            <aside class="w-260px bg-white border-t border-grey-light">
                <ul class="mt-16">
                    <li class="sidebar-item sidebar-item-active"><a href="">Jeux</a></li>
                    <li class="sidebar-item"><a href="">Accessoires</a></li>
                    <li class="sidebar-item"><a href="">Utilisateurs</a></li>
                    <li class="sidebar-item"><a href="">Plateformes</a></li>
                    <li class="sidebar-item"><a href="/editor">Editeur</a></li>
                    <li class="sidebar-item"><a href="">Développeurs</a></li>
                    <li class="sidebar-item"><a href="">Categories</a></li>
                    <li class="sidebar-item"><a href="">Classification</a></li>
                    <li class="sidebar-item"><a href="">Annonces</a></li>
                </ul>
            </aside>
            <div class="w-full h-screen bg-grey-lighter">
                {% block body %}
                {% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
